@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;

  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #1E1E30;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
@layer base {
  html,
  body,
  #__next {
    @apply h-full bg-bgColor text-textColor;
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
      Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  }
  .wrapper {
    @apply flex;
    gap: 1rem;
    margin-top: 1rem;
  }
}
